html {
	font-size: 1em;
	font-family: sans-serif;
	height: 100vh;
	color: white;
	margin: 0;
	padding: 0;
}

body {
	background-color: #009FFF;
	min-height: 97vh; /* minimum height = 100% viewport height */
	display: flex;
	flex-direction: column; 
	justify-content: center;
	/*display flex et flex column sinon footer
	margin auto ne fonctionne pas et le footer 
	n'est pas en bas de page */
}

header {
	display: flex;
	justify-content: center;
}

.element_header {
	width: 90%;
	background-color: #ff6000;
	text-align: center;
}

nav {
	display: flex;
	justify-content: space-around;
	border-radius: 10px;
	margin: 5px;
}

.element_nav {
	width: 25%;
	background-color: #ff6000;
	text-align: center;
}

footer {
	background-color: #ff6000;
	text-align: right;
	font-style: italic;
	padding-right: 25px;
	margin-top: auto;
}

a {
	text-decoration: none;
	color: white;
}

section {
	display: flex;
	text-align: center;
	flex-wrap: wrap;
	justify-content: center;
}

div.alert-wrong {
	background-color: red;
	margin: 10px;
	width: 50%;
	align-self: center;
	text-align: center;
}

div.alert-success {
	background-color: green;
	margin: 10px;
	width: 50%;
	align-self: center;
	text-align: center;
}

header#header_section {
	width: 100%;
	display: block;
}

.btn {
	border-radius: 10px;
	background-color: #ff6000;
	color: white;
}

.form-group {
	padding: 10px;
	display: flex;
	flex-direction: column;
	width: 25vw;
}

article {
	width: 45%;
}

aside {
	width: 45%;
}

img {
	max-width: 220px;
	max-height: 140px;
}

#choosen {
	border: 5px solid #00ff00;
}

/*video {
	max-width: 320px;
	min-width: 320px;
	max-height: 320px;
	min-height: 320px;
}*/