html {
	font-size: 1em;
	font-family: sans-serif;
	height: 100vh;
	color: white;
	margin: 0;
	padding: 0;
}

body {
	background-color: #009FFF;
	min-height: 97vh; /* minimum height = 100% viewport height */
	display: flex;
	flex-direction: column; 
	justify-content: center;
	/*display flex et flex column sinon footer
	margin auto ne fonctionne pas et le footer 
	n'est pas en bas de page */
}

header {
	display: flex;
	justify-content: center;
}

.element_header {
	width: 90%;
	background-color: #ff6000;
	text-align: center;
}

nav {
	display: flex;
	justify-content: center;
	border-radius: 10px;
	margin: 5px;
}

.element_nav {
	width: 20%;
	background-color: #ff6000;
	text-align: center;
	margin: 5px;
	word-wrap: break-word;
}

footer {
	background-color: #ff6000;
	text-align: right;
	font-style: italic;
	padding-right: 25px;
	margin-top: auto;
}

a {
	text-decoration: none;
	color: white;
}

section {
	display: flex;
	text-align: center;
	flex-wrap: wrap;
	justify-content: center;
}

section#myimg {
	display: block;
}

section#myimg_index {
	display: block;
}

div.alert-wrong {
	background-color: red;
	margin: 10px;
	width: 50%;
	align-self: center;
	text-align: center;
}

div.alert-success {
	background-color: green;
	margin: 10px;
	width: 50%;
	align-self: center;
	text-align: center;
}

header#header_section {
	width: 100%;
	display: block;
}

.btn {
	border-radius: 10px;
	background-color: #ff6000;
	color: white;
}

.form-group {
	padding: 10px;
	display: flex;
	flex-direction: column;
	width: 25vw;
	margin: auto;
}

article {
	width: 45%;
}

aside {
	width: 45%;
}

img {
	max-width: 220px;
	max-height: 140px;
}

#photo {
	min-width: 320px;
	min-height: 240px;
}

#choosen {
	border: 5px solid #ff6000;
}
.choosen {
	border: 5px solid #ff6000;
}

.vote {
	padding: 5px;
	margin: 10px;
	width: 16%;
}

.vote_bar {
	width: 100%;
	background-color: red;
	height: 4px;
}

.vote_progress {
	width: 0%;
	height: 4px;
	background-color: green;
}

.vote_btn {
	cursor: pointer;
	transition: color 0.3s;
}

.display-comment {
	max-height: 200px;
	overflow: auto;
}

.display-comment p {
	font-size: 0.8em;
}

.vote_like:hover {
	color: green;
}

.vote_dislike:hover {
	color: red;
}

.form_com {
	margin: 10px;
}

#page {
	align-content: center;
}

@media all and (max-width: 1024px) and (max-device-width: 1100px) {
	.vote {
		width: 40%;
	}
}

@media all and (max-device-width: 800px) {
	article, aside {
		width: 100%;
	}
}

@media all and (max-device-width: 450px) {
	.vote {
		width: 100%;
	}
}

/*video {
	max-width: 320px;
	min-width: 320px;
	max-height: 320px;
	min-height: 320px;
}*/